.Project-box {
    padding: 2vh 5vw 4vh;
    flex: 1;
    border-radius: 25px;
    border: 2px solid black;
    margin: 32px;
}

.Project-box img {
    width: 100%;
    height: 300px;
}

.App-link {
    color: #61dafb;
    font-size: 24px;
    font-weight: bold;
    margin-top: 46px;
    text-decoration: none;
}

.Flex-column {
    display: flex;
}

.Project-info {
    flex: 1;
}