.Project-box {
    padding: 2vh 5vw 4vh;
    flex: 1;
    border-radius: 25px;
    border: 2px solid black;
    margin: 16px;
}

.Project-box img {
    width: 100%;
}

.App-link {
    color: #61dafb;
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
    text-decoration: none;
}

.Flex-column {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .Project-box {
        margin: 16px 8px 16px 8px;
    }
}